body {
      font-family: Arial, sans-serif; margin: 0; background: #fafafa; color: #333;
    }
 .header { display: flex; align-items: center; justify-content: space-between; background: #fff; padding: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
  .title-1 { margin: 0; flex-grow: 1; text-align: center; font-size: 18px;}
  .opis {
    margin:20px;
    text-align: center;
    flex-grow: 1;
    font-size:20px;
    align-items: center;
  }
  .information {
    margin:10px;
    margin-left: 20px;
    font-family: Sans-Serif;
    font-size: 13px;
  }
  h4 {
    margin:20px;
    text-align: center;
    flex-grow: 1;
    font-size:12px;
    align-items: center;
  }
  .setting-button {
    width: 100%;
    padding: 18px;
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.setting-button:hover {
    background-color: #333;
}